.universal-container {
  margin: 100px 200px 0
}

.hero{
  position: relative;
}

.hero h1{
  padding-top: 10px;
  font-size: 4rem;
  font-weight: 500;
}

.hero p{
  font-weight: 300;
  margin-bottom: 0px;
  width: 75%;
}

.hero h3 {
  font-size: 25px;
}

.hero button {
  position: absolute;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding: 12px 30px;
  right: 0;
}

/* Spotlight Section */
.spotlight h2 {
  font-size: 40px;
  margin-top: 20px;
  text-align: center;
}

.spotlight-posts {
  display: flex;
  gap: 20px;
}

.post {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.post p {
  margin: 10px 0;
}


.spotlight-posts p{
  font-size: 15px;
  font-weight: 300;
}