.universal-container {
  margin: 100px 200px 0
}

.hero h1{
  font-size: 4rem;
  font-weight: 500;
}

.hero{
  position: relative;
}

.hero p{
  font-weight: 300;
}

.hero button {
  position: absolute;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding: 12px 30px;
  right: 0;
}

.spotlight-posts p{
  font-size: 15px;
  font-weight: 300;
}