.Navbar {
  position: fixed;
    text-align: center;
    font-family: "Poppins", sans-serif;
    border-bottom: solid 2px;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 1;
}
  
  nav {
    display: flex;
    margin: 0 200px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
  }
  
  /* .Nav-logo {
    border-radius: 50%;
    width: 80px;
    height: auto;
  } */
  
  .Nav-title{
    margin: 0 !important;
    font-size: 30px !important;
    font-weight: 700 !important;
  }

  nav a{
    text-decoration: none;
  }
  .search-bar {
    display: flex;
    align-items: center;
    width: 400px;
    margin: 0 20px;
  }
  
  .search-bar input {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
  }

  .nav-search-btn {
    width: 20px;
  }
  
  .search-bar button {
    position: relative;
    background-color: #000000;
    padding: 10px;
    width: 50px;
    height: 37px;
    left: -10px;
    border-radius: 0 5px 5px 0;
    color: #ffffff;
    cursor: pointer;
    border: none;
  }

  .search-bar button svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .search-bar button:hover {
    background: #333;
  }
  
  .navbar-links {
    display: flex;
    gap: 40px;
  }
  
  .navbar-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-links a:hover {
    color: gray;
    transition: 0.3s;
  }


  
  .navbar-button button {
    border: none;
    background: black;
    padding: 12px 30px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
  
  }
  
  .navbar-button button:hover {
    background: #333;
  }