.App {
  text-align: center;
  margin: 0 200px;

}

nav{
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
 
}

.App-logo{
  width: 80px;
  border-radius: 50%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  font-size: small;
  padding: 10px 20px;
}

nav ul li a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover{
  color: gray;
  transition: .3s;
}


nav button{
  border: none;
  background: black; 
  padding: 12px 30px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.search-bar {
  display: flex;
  align-items: center; 
  padding: 5px;
  width: 250px;
}

.search-bar input {
  border: 10;
  outline: none;
  width: 250px;
  padding: 10px 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.search-bar button {
  background: black;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.container{
  text-align: justify;
  position: relative;

}

h1{
  padding-top: 10px;
  font-size: 60px;
}
h3{
  font-size: 25px;
}
h3 span{
  animate__shakeY{
    --animate-duration: 2s;
  } 
}
p{
  width: 80%;
}
.container button{
  position: absolute;
  right: 10px;
  
}

.spotlight{
  /* width: 800px; */
  /* height: 600px; */
  background-color: green;
  border-color: black;
}
/* .spotlight h2{
  position: absolute;
  font-weight: 100
  right:10px;
} */