.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

.App-logo{
  width: 80px;
  border-radius: 50%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover{
  color: gray;
  transition: .3s;
}


button{
  border: none;
  background: black; 
  padding: 12px 30px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}


.container{
  text-align: justify;
  margin: 60px;
  padding-left: 80px;
  position: relative;

}

h1{
  padding-top: 10px;
  font-size: 60px;
}
h3{
  font-size: 25px;
}
h3 span{
  animate__shakeY{
    --animate-duration: 2s;
  } 
}
p{
  width: 80%;
}
.container button{
  position: absolute;
  margin-top: 10px;
  right: 10px;
}

.spotlight{
  margin: 30px;

  width: 600px;
  height: 600px;
  border-color: black;
  border: 5cm;
}
/* .spotlight h2{
  position: absolute;
  font-weight: 100;
  right:10px;
} */